<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title--Ouroboros.Net 后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="~/Content/layuicms/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/layuicms/css/public.css" rel="stylesheet" />
    <link href="~/Content/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet" />
</head>
<body class="childrenBody">
    <form class="layui-form">
        @RenderBody()
    </form>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/ouroboros.js"></script>
    <script src="~/Content/zTree_v3/js/jquery.ztree.core.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
