
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLogin</title>
    <link href="~/Content/easyui/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.messager.alert('登录提示', '您未登录,即将跳转到登录页面', 'warning', function () { ToUrl() });
            setTimeout(ToUrl, 2000);
        });
        function ToUrl() {
            window.top.location = "/System/Account/Login";
        }
    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
