
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLogin</title>
    <link href="~/Content/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/lay/modules/layer.js"></script>
    <script type="text/javascript">
        $(function () {
            layer.alert('您未登录,即将跳转到登录页面', function (index) {
                ToUrl()
            });
            setTimeout(ToUrl, 2000);
        });
        function ToUrl() {
            window.top.location = "/System/Account/Login";
        }
    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
