@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台登录</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/layuicms/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
</head>
<body>

    <div class="login">
        <div class="message">Ouroboros.Net-用户登录</div>
        <div id="darkbannerwrap"></div>
        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions()
        {
            Url = Url.Action("Login", "Account"),
            HttpMethod = "Post",
            OnBegin = "begin",
            OnSuccess = "success"
        }, new { index = "" }))
        {
            <input name="action" value="login" type="hidden">
            <input name="Name" placeholder="用户名" required="" type="text">
            <hr class="hr15">
            <input name="Password" placeholder="密码" required="" type="password">
            <hr class="hr15">
            <input name="VCode" placeholder="验证码" style="width:65%;" required="" type="text">
            <div style="float:right;width:35%;height:50px">
                <img src="@Url.Action("ShowVCode", "Account")" id="imgcode" onclick="resetVcode()" height="25" width="65" style="height:50px;width:100%" />
            </div>
            <hr class="hr15">
            <div class="remember">
                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                <input type="hidden" name="RememberMe" value="false" />
                <label>记住密码</label>
            </div>
            <hr class="hr15">
            <input value="登录" style="width:100%;" type="submit">
            <hr class="hr20">
        }
    </div>
    <div class="copyright">Copyright © 2018 <a href="https://github.com/Goosander/Ouroboros.Net" target="_blank">Goosander</a></div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Content/layuicms/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    //刷新验证码
    function resetVcode() {
        //此处在IE浏览器中会被缓存
        var url = '@Url.Action("ShowVCode", "Account")' + "?rid=" + Math.random();
        $("#imgcode").attr("src", url);
    }
    function begin() {
        index = layer.load();
    }
    function success(ajaxobj) {
        //ajaxobj格式:{status=0/1/2,msg="登录成功/异常信息"  }
        //判断处理状态如果为1则表示有错误
        if (ajaxobj.status == "1") {
            layer.msg(ajaxobj.msg);
        } else {
            //跳转到首页
            window.location = '@Url.Action("Index","Home")';
        }
        //关闭正在请求中....的提示
        layer.close(index);
    }
</script>